<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<ui:composition >

    <ui:param name="paramBackBean" value="#{celulaBackBean}"/>

    <h:body>
        <p:outputLabel value="#{celulaBackBean.user}"/>
    </h:body>



</ui:composition>
</html>



