<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



        <ui:param name="paramBackBean" value="#{iglesiaBackBean}"/>
        <h:body>


                        <p:panel header="Registro de Iglesia" style="height: 840px;margin-top: 5px;">
                                <h:form id="formListaIglesia">
                                        <p:dataTable var="iglesia"
                                             lazy="true"
                                             rows="21"
                                             paginator="true"
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             value="#{iglesiaBackBean.listaIglesia}"
                                             selectionMode="single"
                                             selection="#{iglesiaBackBean.iglesiaSelected}"
                                             rowKey="#{iglesia.id}"
                                             emptyMessage="No hay Registros">
                                        <f:facet name="header">
                                                <p:outputPanel style="display: block; text-align: left">
                                                       <p:inputText autocomplete="false" label="Nombre" style="width: 40%; " placeholder="Busqueda..."  value="#{iglesiaBackBean.prBuscar}" />
                                                       <p:commandButton value="Buscar" icon="ui-icon-search" style="margin-left: 5px; " actionListener="#{iglesiaBackBean.buscarIglesiaPorNombre}" update=":formListaIglesia"/>
                                                        <p:commandButton value="Agregar" icon="ui-icon-plusthick"  style="margin-left: 5px; " actionListener="#{iglesiaBackBean.abrirDialogoAgregar}" update=":formDialogoIglesia :formListaIglesia"/>
                                                        <p:commandButton disabled="#{iglesiaBackBean.desabilitarBotones}" value="Modificar" icon="ui-icon-pencil" style="margin-left: 5px; " resetValues="true" actionListener="#{iglesiaBackBean.abrirDialogoModificar}" update=":formDialogoIglesia"/>
                                                        <p:commandButton disabled="#{iglesiaBackBean.desabilitarBotones}" value="Eliminar" icon="ui-icon-trash" style="margin-left: 5px; " actionListener="#{iglesiaBackBean.eliminar}" update=":formListaIglesia"/>
                                                        <p:commandButton disabled="#{iglesiaBackBean.desabilitarBotones}" value="Ver Iglesias Hijas" icon="ui-icon-zoomout" style="margin-left: 5px; " actionListener="#{iglesiaBackBean.cargarListaIglesiasHijas}" update=":formListaIglesiaH"/>
                                                </p:outputPanel>
                                        </f:facet>
                                                <p:ajax event="rowSelect" listener="#{iglesiaBackBean.editarOEliminar}"
                                                        update=":formListaIglesia" resetValues="true"/>
                                        <p:column headerText="Nombre">
                                                #{iglesia.nombre}
                                        </p:column>
                                        <p:column headerText="Direccion">
                                                #{iglesia.direccion}
                                        </p:column>
                                        <p:column headerText="Municipio">
                                                #{iglesia.refMunicipio.nombre}

                                        </p:column>
                                        <p:column headerText="Departamento">
                                                #{iglesia.refMunicipio.divisionPoliticiaId.nombre}
                                        </p:column>


                                </p:dataTable>

                                </h:form>

                        </p:panel>
        </h:body>

        <p:dialog modal="true" resizable="false"
                  id="dialogoRegistro"
                  width="700"
                  height="400"
                  widgetVar="dialogoRegistro"
                  header="Registro Iglesia">
                <h:form id="formDialogoIglesia">

                        <h:panelGrid columns="2" cellpadding="5" style="width: 100%;"  columnClasses="col40,col60">

                                <p:outputLabel value="Nombre: " for="txtNombre" />
                                <p:inputText id="txtNombre" autocomplete="false" label="Nombre" value="#{iglesiaBackBean.txtNombre}" style="width: 98%" required="true" requiredMessage="El Nombre es requerido"/>
                                <p:outputLabel value="Dirección: " for="txtDireccion" />
                                <p:inputText id="txtDireccion" autocomplete="false" label="Dirección" style="width: 98%"  value="#{iglesiaBackBean.txtDireccion}" required="true" requiredMessage="La Dirección es requerida" />
                                <p:outputLabel value="Departamento: " for="cmbDpto" />
                                <p:selectOneMenu id="cmbDpto" value="#{iglesiaBackBean.refDepartamentoSelect}" style="width: 100%;" required="true" requiredMessage="El Departamento es requerido" >
                                        <f:selectItem itemLabel="Seleccione..." itemValue=""/>
                                        <f:selectItems value="#{iglesiaBackBean.listaDepartamento}" var="dpto" itemLabel="#{dpto.nombre}" itemValue="#{dpto.id}"/>
                                        <p:ajax listener="#{iglesiaBackBean.cargarMunicipio}" update="cmbMun"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Municipio: " for="cmbMun" />
                                <p:selectOneMenu id="cmbMun" value="#{iglesiaBackBean.refMunicipioSelect}" style="width: 100%;" required="true" requiredMessage="El Municipio es requerido">
                                        <f:selectItem itemLabel="Seleccione..." itemValue=""/>
                                        <f:selectItems value="#{iglesiaBackBean.listaMunicipio}" var="mun" itemLabel="#{mun.nombre}" itemValue="#{mun.id}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Pastor: " for="txtPastor" />
                                <p:outputPanel style="display: block;">
                                        <p:inputText disabled="true" id="txtPastor" autocomplete="false" label="Pastor" style="width: 86%" value="#{iglesiaBackBean.txtNombreCompleto}" required="true" requiredMessage="La Dirección es requerida" />
                                        <p:commandButton icon="ui-icon-plusthick" style="width: 10%; margin-left: 5px" actionListener="#{iglesiaBackBean.abrirModalPastor}" resetValues="true" process="@this" update=":formRegMiembro"/>
                                </p:outputPanel>
                                <p:outputLabel  value="Iglesia: " for="cmbIglesia" />
                                <p:selectOneMenu  id="cmbIglesia" value="#{iglesiaBackBean.iglesiaPadreSelect}" style="width: 100%;">
                                        <f:selectItem itemLabel="Seleccione..." itemValue=""/>
                                        <f:selectItems value="#{iglesiaBackBean.listaIglesiasAsociar}" var="iglesiaA" itemLabel="#{iglesiaA.nombre}" itemValue="#{iglesiaA.id}"/>
                                </p:selectOneMenu>

                        </h:panelGrid>
                        <p:outputPanel style="display: block; text-align: center">
                        <p:commandButton value="Guardar" icon="	ui-icon-disk" actionListener="#{iglesiaBackBean.guardar}" update=":formListaIglesia"/>
                                <p:commandButton value="limpiar" actionListener="#{iglesiaBackBean.limpiar}" style="margin-left: 5px" resetValues="true" process="@this" update=":formDialogoIglesia"/>
                        </p:outputPanel>


                </h:form>

        </p:dialog>
        <p:dialog modal="true" resizable="false"
                  id="dlgRegPastor"
                  width="500"
                  height="300"
                  widgetVar="dialogoRegistroPastor"
                  header="Registro de Pastor">
                <h:form id="formRegMiembro">

                        <h:panelGrid columns="2" cellpadding="5" style="width: 100%;"  columnClasses="col40,col60">

                                <p:outputLabel value="Nombre Completo: " for="txtNombreCompleto" />
                                <p:inputText id="txtNombreCompleto" autocomplete="false" label="Nombre" value="#{iglesiaBackBean.txtNombreCompleto}" style="width: 98%" required="true" requiredMessage="El Nombre es requerido"/>
                                <p:outputLabel value="Sexo: " for="cmbSexo" />
                                <p:selectOneMenu id="cmbSexo" value="#{iglesiaBackBean.cmbsexo}" style="width: 100%;" required="true" requiredMessage="El Sexo es requerido" >
                                        <f:selectItem itemLabel="Seleccione..." itemValue=""/>
                                        <f:selectItems value="#{iglesiaBackBean.listaSexo}" var="sexo" itemLabel="#{sexo.nombre}" itemValue="#{sexo.codigo}"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Estado Civil: " for="cmbEstadoCivil" />
                                <p:selectOneMenu id="cmbEstadoCivil" value="#{iglesiaBackBean.cmbEstadoCivil}" style="width: 100%;" required="true" requiredMessage="El Estado Civil es requerido">
                                        <f:selectItem itemLabel="Seleccione..." itemValue=""/>
                                        <f:selectItems value="#{iglesiaBackBean.listaEstadoCivil}" var="estado" itemLabel="#{estado.nombre}" itemValue="#{estado.codigo}"/>
                                </p:selectOneMenu>

                        </h:panelGrid>
                        <p:outputPanel style="display: block; text-align: center">
                                <p:commandButton value="Guardar" icon="	ui-icon-disk" actionListener="#{iglesiaBackBean.crearMiembro}" update=":formDialogoIglesia:txtPastor"/>
                        </p:outputPanel>
                </h:form>

        </p:dialog>
        <p:dialog modal="true" resizable="false"
                  id="dialogoListaIglesiaH"
                  width="700"
                  height="400"
                  widgetVar="dialogoIglesiaH"
                  header="Registro Iglesia">
                <h:form id="formListaIglesiaH">
                        <p:outputPanel style="display: block">
                                <p:dataTable var="iglesiaH"
                                             lazy="true"
                                             rows="10"
                                             paginator="true"
                                             paginatorPosition="top"
                                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                             value="#{iglesiaBackBean.listaIglesiasHijas}"
                                             rowKey="#{iglesia.id}"
                                             emptyMessage="No hay Registros">
                                        <f:facet name="header">
                                                Lista Iglesias Hijas
                                        </f:facet>

                                        <p:column headerText="Nombre">
                                                #{iglesiaH.nombre}
                                        </p:column>
                                        <p:column headerText="Direccion">
                                                #{iglesiaH.direccion}
                                        </p:column>
                                        <p:column headerText="Municipio">
                                                #{iglesiaH.refMunicipio.nombre}

                                        </p:column>
                                        <p:column headerText="Departamento">
                                                #{iglesiaH.refMunicipio.divisionPoliticiaId.nombre}
                                        </p:column>

                                </p:dataTable>
                        </p:outputPanel>

                </h:form>
        </p:dialog>


</ui:composition>



