<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core">



    <ui:param name="paramBackBean" value="#{iglesiaBackBean}"/>
    <h:body>



    </h:body>




</ui:composition>



