<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:outputStylesheet name="/MisCss/cssStyle.css"/>

<h:head>
    <title>IPJ</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</h:head>

<h:body style="background-image: url('resources/fondologin.png')">
    <p:growl id="messageIndex" showDetail="true" showSummary="false" autoUpdate="true" />
    <p:outputPanel style="background-color:#F2F5A9; text-align: right; margin-bottom: 5px" >
        <h:outputText value="BIENVENID@: #{indexBackBean.nombreUsuarioActual}" />
    </p:outputPanel>
    <h:form>
        <p:menubar>
            <p:submenu label="Registros" icon="ui-icon-document">
                <p:menuitem value="Iglesias" icon="ui-icon-document" action="#{indexBackBean.pagina('views/Iglesia.xhtml')}" update=":contenido"   resetValues="true"/>
                <p:menuitem value="Celulas" icon="ui-icon-document"  action="#{indexBackBean.pagina('views/celula.xhtml')}" update=":contenido"   resetValues="true"/>
                <p:menuitem value="Miembros" icon="ui-icon-document"   action="#{indexBackBean.pagina('views/miembro.xhtml')}" resetValues="true"/>
            </p:submenu>

            <p:menuitem value="Estados Financieros" icon="ui-icon-document" action="EstadoFinanciero"/>
            <p:submenu label="Seguridad" icon="ui-icon-document" >
                <p:menuitem value="Cambiar Contraseña" icon="icon-logout"/>
                <p:menuitem value="Crear Usuario" icon="icon-logout"/>
            </p:submenu>
            <p:menuitem value="Salir" action="#{loginBackBean.cerrarSesion}" icon="icon-logout"/>
        </p:menubar>
    </h:form>

    <p:outputPanel id="contenido">
        <ui:include src="#{indexBackBean.paginaActual}"/>
    </p:outputPanel>

</h:body>





</html>