<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:outputStylesheet>
    body{
        background-image: url("resources/fondologin.png");

    }
    .account-wall
    {
        margin-top: 150px;
        padding: 40px 0px 20px 0px;
        background-color: #f7f7f7;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .form-signin {
        margin: 0 auto;
        max-width: 400px;
        padding: 15px;
    }





</h:outputStylesheet>
<h:outputStylesheet name="/css/bootstrap.min.css"/>


<h:head>
    <title>IPJ</title>
</h:head>

<h:body>

    <f:view >
        <p:growl id="message" showDetail="true" showSummary="false" autoUpdate="true" severity="info,warn"/>
        <p:growl id="messageError" showDetail="true" showSummary="false" sticky="true" autoUpdate="true"
                 severity="error"/>



        <div class="container">
            <div class="form-signin">
                <div class="account-wall">

                    <h:form id="formlogin" >
                        <img src="resources/logo.png" alt="Logo" style="width: 100%!important; margin-bottom: 50px!important;"/>


                        <p:inputText id="txtUsuario" value="#{loginBackBean.username}"
                                     validatorMessage="Usuario: El largo es inferior que el mínimo Permitido'3' "
                                     maxlength="20"
                                     autocomplete="off"
                                     requiredMessage="Usuario: Debe Ingresar al menos 3 Caracteres"
                                     placeholder="Usuario"
                                     required="true"
                                     styleClass="form-control"
                                     style="margin-bottom: 5px!important;">

                            <f:validateLength minimum="3" maximum="20"/>
                            <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                        </p:inputText>
                        <p:password id="txtContrasenia" value="#{loginBackBean.contrasenia}"
                                    autocomplete="off"
                                    validatorMessage="Contraseña: El largo es inferior que el mínimo permitido '3' "
                                    maxlength="20"
                                    requiredMessage="Contraseña: Debe Ingresar al menos 6 Caracteres"
                                    placeholder="Contraseña"
                                    required="true"
                                    styleClass="form-control"
                                    style="margin-bottom: 20px!important;">
                            <f:validateLength minimum="6" maximum="20" />
                            <f:validateRegex pattern="^[a-zA-Z0-9]+$"/>
                        </p:password>
                        <p:commandButton value="Entrar" action="#{loginBackBean.iniciarSesion}"
                                         styleClass="btn btn-lg btn-primary btn-block"
                                         style="margin-bottom: 5px!important;"/>

                    </h:form>

                </div>

            </div>

        </div>



    </f:view>
</h:body>

</html>
